.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  margin: 12px 0;
  font-size: 18px;
  color: rgb(124, 124, 124);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
