.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 90px;
  width: 400px;
  height: 600px;
  gap: 24px;
}

.textarea {
  border: 2px solid rgb(202, 202, 202);
  padding: 4px;
  border-radius: 8px;
  margin-top: -16px;
}

.button {
  display: inline-block;
  width: auto;
  align-self: flex-end;
  justify-content: flex-end;
  padding: 8px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  background-color: #fdc435;
  gap: 12px;
}
